<template>
  <div>
    <h2>Iniciar Sesión</h2>
    <form @submit.prevent="authenticate">
      <div>
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" v-model="username" required />
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" v-model="password" required />
      </div>
      <button type="submit">Iniciar Sesión</button>
    </form>
    <div v-if="errorMessage">{{ errorMessage }}</div>
  </div>
</template>

<script>
import auth from "@/common/auth";

export default {
  data() {
    return {
      username: "",
      password: "",
      errorMessage: "",
    };
  },
  methods: {
    async authenticate() {
      try {
        await auth.login({
          login: this.username,
          password: this.password,
        });

        this.$router.push("/");
      } catch (error) {
        console.error("Error al iniciar sesión:", error);
        this.errorMessage = "Nombre de usuario o contraseña incorrectos.";
      }
    },
  },
};
</script>
