<template>
  <div class="container" v-if="this.tagName">
    <h2>Posts de {{ this.tagName }}</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
      <div v-for="post in posts" :key="post.id">
        <PostCard :post="post"></PostCard>
      </div>
    </div>
    <div v-if="this.posts.length === 0">
      <p>No hay posts de esta categoría</p>
    </div>
  </div>
  <div v-if="!this.tagName">
    <h1>No se ha encontrado la categoría</h1>
  </div>
</template>

<script>
import TagRepository from "@/repositories/TagRepository";
import PostRepository from "@/repositories/PostRepository";
import PostCard from "@/components/PostCard.vue";

export default {
  data() {
    return {
      tagName: "",
      posts: [],
    };
  },
  components: { PostCard },
  mounted() {
    const tagId = parseInt(this.$route.params.tagId);

    TagRepository.getOneTag(tagId).then((response) => {
      this.tagName = response.name;
    });

    PostRepository.findAll().then((response) => {
      this.posts = response.filter((post) => {
        return post.tags.some((tag) => tag.id === tagId);
      });
    });
  },
};
</script>
