<template>
  <div>
    <h1>{{ post ? "Editar" : "Crear" }} Publicación</h1>
    <form @submit.prevent="submitPost">
      <div>
        <label for="postBody">Texto de la Publicación:</label>
        <textarea
          id="postBody"
          v-model="postBody"
          :maxlength="maxPostLength"
          required
        ></textarea>
        <p>{{ postBody.length }} / {{ maxPostLength }}</p>
      </div>
      <div>
        <label for="postTags">Etiquetas:</label>
        <select id="postTags" v-model="selectedTags" multiple>
          <option
            v-for="tag in allTags"
            :key="tag.id"
            :value="tag"
            :style="{ backgroundColor: tag.color }"
          >
            {{ tag.name }}
          </option>
        </select>
      </div>
      <button type="submit">
        {{ post ? "Guardar" : "Crear" }} Publicación
      </button>
      <div v-if="error" class="error-message">
        {{ error }}
      </div>
    </form>
  </div>
</template>

<script>
import PostRepository from "@/repositories/PostRepository";
import TagRepository from "@/repositories/TagRepository";
import router from "@/router";

export default {
  data() {
    return {
      postBody: "",
      selectedTags: [],
      allTags: [],
      maxPostLength: 300,
      post: null, // Agrega esta propiedad para almacenar la publicación actual si estás editando
      error: null,
    };
  },
  async mounted() {
    // obtenemos todas las etiquetas
    TagRepository.getTags()
      .then((response) => (this.allTags = response))
      .catch((error) =>
        console.error("Error al obtener las etiquetas:", error)
      );

    // vemos si estamos editando
    const postId = this.$route.params.postId;
    if (postId) {
      try {
        this.post = await PostRepository.findOne(postId);
        // lenamos formulario con los datos actuales del post
        this.postBody = this.post.body;
        this.selectedTags = this.post.tags;
      } catch (error) {
        console.error("Error al obtener el post:", error);
      }
    }
  },
  methods: {
    async submitPost() {
      const postContent = {
        body: this.postBody,
        tags: this.selectedTags,
      };

      try {
        if (this.post) {
          // si estamos actualizando, update
          this.post.body = this.postBody;
          this.post.tags = this.selectedTags;
          await PostRepository.save(this.post);
        } else {
          // si no tienes, creamos una nueva
          await PostRepository.save(postContent);
        }

        // ponemos campos vacíos
        this.postBody = "";
        this.selectedTags = [];

        // redirigimos a postlist
        router.push({ name: "PostList" });

        console.log("Publicación guardada exitosamente");
      } catch (error) {
        console.error("Error al guardar la publicación:", error);
        this.error = "Error al guardar: " + error.response.data.message;
      }
    },
  },
};
</script>
