<template>
  <div class="container">
    <h1>Detalles de la Publicación</h1>
    <div v-if="post" class="row">
      <div class="col-md-4 mb-4">
        <img :src="getImageSrc()" class="img-fluid" alt="Imagen del post" />
      </div>
      <div class="col-md-8">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <p><strong>Etiquetas:</strong> {{ tagsAsString }}</p>
        <p>
          <strong>Fecha de Publicación:</strong>
          {{ formatDate(post.timestamp) }}
        </p>
        <p>
          <strong>Autor: </strong>
          <router-link :to="'/authors/' + post.author.login">{{
            post.author.login
          }}</router-link>
        </p>
        <div v-if="this.post.author.login === this.currentUserLogin">
          <router-link class="btn btn-primary" :to="`/posts/edit/${post.id}`">
            Editar post
          </router-link>
          <button class="btn btn-danger" @click="deletePost(this.post.id)">
            Eliminar post
          </button>
        </div>
        <div v-if="error" class="error-message">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getStore } from "@/common/store";
import PostRepository from "@/repositories/PostRepository";

export default {
  data() {
    return {
      currentUserLogin: "",
      post: null,
      error: null,
    };
  },
  computed: {
    tagsAsString() {
      return this.post?.tags.map((t) => t.name).join(", ");
    },
  },
  methods: {
    getImageSrc() {
      return "/placeholder.png";
    },
    formatDate(date) {
      if (date) {
        const fechaHora = new Date(date);
        const fecha = fechaHora.toLocaleDateString();
        const hora = fechaHora.toLocaleTimeString();
        return `${fecha} a las ${hora}`;
      }
      return "Fecha desconocida";
    },
    deletePost(postId) {
      PostRepository.delete(postId)
        .then(() => {
          this.$router.push({ name: "PostList" });
        })
        .catch((error) => {
          console.error("Error al eliminar el post:", error);
          this.error = "Error al eliminar: " + error.response.data.message;
        });
    },
  },
  mounted() {
    this.currentUserLogin = getStore().state.user.login;
    const postId = this.$route.params.postId;

    PostRepository.findOne(postId)
      .then((response) => {
        this.post = response;
        // console.log(this.post.author.login);
        // console.log(this.currentUserLogin);
      })
      .catch((error) => {
        console.error("Error al obtener el post:", error);
      });
  },
};
</script>
