<template>
  <div>
    <h2>Registro</h2>
    <form @submit.prevent="register">
      <div>
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" v-model="username" required />
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" v-model="password" required />
      </div>
      <div>
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input
          type="password"
          id="confirmPassword"
          v-model="confirmPassword"
          required
        />
      </div>
      <button type="submit">Registrarse</button>
    </form>
    <div v-if="errorMessage">{{ errorMessage }}</div>
  </div>
</template>

<script>
import AccountRepository from "@/repositories/AccountRepository";
import auth from "@/common/auth";

export default {
  data() {
    return {
      username: "",
      password: "",
      confirmPassword: "",
      errorMessage: "",
    };
  },
  methods: {
    async register() {
      if (this.password !== this.confirmPassword) {
        this.errorMessage = "Las contraseñas no coinciden.";
        return;
      }

      try {
        // Registrar la cuenta
        await AccountRepository.registerAccount({
          login: this.username,
          password: this.password,
        });

        // Iniciar sesión automáticamente después de registrar
        await auth.login({
          login: this.username,
          password: this.password,
        });

        // Redirigir a la página principal o a donde desees después del registro y inicio de sesión
        this.$router.push("/");
      } catch (error) {
        console.error("Error al registrar:", error);
        this.errorMessage =
          "Error al registrar. Por favor, inténtelo de nuevo.";
      }
    },
  },
};
</script>
