<template>
  <div>
    <form @submit.prevent="submitForm">
      <div>
        <label for="tagName">Nombre de la etiqueta:</label>
        <input type="text" id="tagName" v-model="name" required />
      </div>
      <div>
        <label for="tagColor">Color de la etiqueta (hexadecimal):</label>
        <input type="text" id="tagColor" v-model="color" required />
      </div>
      <button type="submit">GUARDAR</button>
    </form>
    <div v-if="errorMessage">{{ errorMessage }}</div>
  </div>
</template>

<script>
import TagRepository from "@/repositories/TagRepository";

export default {
  props: {
    tag: Object,
  },
  data() {
    return {
      name: "",
      color: "",
      errorMessage: "",
    };
  },
  mounted() {
    if (this.$route.params.tagId) {
      const tagId = this.$route.params.tagId;

      TagRepository.getOneTag(tagId).then((response) => {
        this.name = response.name;
        this.color = response.color.substring(1);
      });
    }
  },
  methods: {
    async submitForm() {
      // comprobacion de que en color son 6 caracteres
      if (this.color.length !== 6) {
        this.errorMessage = "El color debe ser un hexadecimal de 6 caracteres";
        return;
      }

      try {
        // crear/actualizar la etiqueta

        if (!this.$route.params.tagId) {
          const auxTag = {
            name: this.name,
            color: "#" + this.color,
          };
          await TagRepository.addTag(auxTag); // crear
        } else {
          const auxId = parseInt(this.$route.params.tagId);
          const auxTag = {
            id: this.$route.params.tagId,
            name: this.name,
            color: "#" + this.color,
          };
          await TagRepository.updateTag(auxId, auxTag); // actualizar
        }

        this.$router.push("/tags");
      } catch (error) {
        console.error("Error:", error);
        this.errorMessage = "Error al guardar. Por favor, inténtelo de nuevo.";
      }
    },
  },
};
</script>
