<template>
  <div>
    <router-link v-if="isAdmin" :to="'/tags/new'" class="btn btn-primary">
      Crear nueva etiqueta
    </router-link>

    <h2 class="mt-3">Lista de Etiquetas</h2>
    <ul>
      <li v-for="tag in tags" :key="tag.id">
        <router-link :to="`/postsbytag/${tag.id}`">
          {{ tag.name }}
        </router-link>

        <router-link
          v-if="isAdmin"
          :to="`/tags/edit/${tag.id}`"
          class="btn btn-dark"
        >
          Editar
        </router-link>

        <button v-if="isAdmin" @click="deleteTag(tag)" class="btn btn-danger">
          Eliminar
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import { getStore } from "@/common/store";
import TagRepository from "@/repositories/TagRepository";

export default {
  data() {
    return {
      tags: [],
      isAdmin: false,
    };
  },
  mounted() {
    this.loadTags();
    this.checkAdminStatus();
  },
  methods: {
    async loadTags() {
      try {
        this.tags = await TagRepository.getTags();
      } catch (error) {
        console.error("Error al cargar las etiquetas:", error);
      }
    },
    async checkAdminStatus() {
      const isAdmin = getStore().state.user.authority === "ADMIN";
      this.isAdmin = isAdmin;
    },
    async deleteTag(tag) {
      try {
        if (!this.isAdmin) {
          console.warn("Acceso denegado. El usuario no es ADMIN.");
          return;
        }

        await TagRepository.deleteTag(tag.id);
        this.loadTags();
      } catch (error) {
        console.error("Error al eliminar la etiqueta:", error);
      }
    },
  },
};
</script>
