<template>
  <div class="container">
    <h1>{{ username }}'s Profile</h1>
    <p>Total de publicaciones: {{ totalPosts }}</p>
    <h2>Publicaciones del usuario</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
      <div v-for="post in userPosts" :key="post.id">
        <PostCard :post="post"></PostCard>
      </div>
    </div>
  </div>
</template>

<script>
import PostRepository from "@/repositories/PostRepository";
import PostCard from "@/components/PostCard.vue";

export default {
  data() {
    return {
      username: null,
      userPosts: [],
      totalPosts: 0,
    };
  },
  components: { PostCard },
  mounted() {
    this.username = this.$route.params.username;

    PostRepository.findAll().then((response) => {
      this.userPosts = response.filter(
        (post) => post.author.login === this.username
      );
      this.totalPosts = this.userPosts.length;
    });
  },
};
</script>
