<template>
  <div>
    <h2 class="mt-3">Lista de Usuarios</h2>
    <ul>
      <li v-for="user in users" :key="user.id">
        <router-link :to="`/authors/${user.login}`">
          {{ user.login }}
        </router-link>

        <button
          v-if="!user.active"
          @click="activateUser(user)"
          class="btn btn-success"
        >
          Activar Usuario
        </button>
        <button
          v-if="user.active"
          @click="deactivateUser(user)"
          class="btn btn-dark"
        >
          Desctivar Usuario
        </button>
        <button @click="deleteUser(user)" class="btn btn-danger">
          Eliminar Usuario
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import { getStore } from "@/common/store";
import UserRepository from "@/repositories/UserRepository";

export default {
  data() {
    return {
      users: [],
      isAdmin: false,
    };
  },
  mounted() {
    this.checkAdminStatus();
    this.loadUsers();
  },
  methods: {
    async loadUsers() {
      UserRepository.getAllUsers()
        .then((response) => (this.users = response))
        .catch((error) => console.error("Error al cargar los usuarios", error));
    },
    async checkAdminStatus() {
      const isAdmin = getStore().state.user.authority === "ADMIN";
      this.isAdmin = isAdmin;
    },
    async deleteUser(user) {
      UserRepository.deleteUser(user.id)
        .then(() => this.loadUsers())
        .catch((error) => console.error("Error al eliminar el usuario", error));
    },
    async deactivateUser(user) {
      UserRepository.deactivateUser(user.id)
        .then(() => this.loadUsers())
        .catch((error) => console.error("Error al desactivar usuario", error));
    },
    async activateUser(user) {
      UserRepository.activateUser(user.id)
        .then(() => this.loadUsers())
        .catch((error) => console.error("Error al activar usuario", error));
    },
  },
};
</script>
